body {
  margin: 0;
}
.header {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1518215069569-0781b2f8cc69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
  background-size: cover;
  text-shadow: 5px 5px 10px black;
}
.header-text {
  color: white;
  font-size: 100px;
}
h1 {
  font-size: 75px;
  text-align: center;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
.languages {
  text-align: center;
  height: 100vh;
  display: flex;
  color: white;
  justify-content: center;
  background-color: #a9a9a9;
}
.row {
  display: flex;
  justify-content: flex-start;
}
.column {
  display: flex;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
}
.contact {
  text-align: center;
  height: 100vh;
  display: flex;
  color: black;
  justify-content: center;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(151,164,164,1) 100%);
}
